<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>register</title>
</head>
<body>
  
  <h1>Enter username</h1>
  <form action="/oauthRegis" method="POST">
    <label for="name">username</label>
    <input type="text" id="username" name="username" required><br><br>
    <button type="oauthRegis">submit</button>
  </form>

</body>
</html>
